* text=auto !eol
gui/wxwidgets/config.yaml.in -text
gui/wxwidgets/wxwidgets-3_1_3-release/config.yaml.in -text
utility/fmt/config.yaml.in -text
utility/fmt/fmt-6_1_2-release/config.yaml.in -text
utility/pystring/config.yaml.in -text
utility/pystring/pystring-1_1_3-20190321/config.yaml.in -text
utility/tacklelib/config.yaml.in -text
utility/tacklelib/tacklelib/config.yaml.in -text
